{% extends 'base.html' %}
{% block favicon %}
<link href="static/favicon_home/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="static/favicon_home/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="static/favicon_home/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link href="/site.webmanifest" rel="manifest">

{% endblock %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center post">Post</h2>

    {% if artikel|length < 1 %}
    <h4 class="text-center post">Belum ada postingan</h4>
    {% else %}

    {% for blog in artikel %}
    <div class="card">
        <div class="card-header text-dark">
            {{ blog[1] }}
        </div>
        <div class="card-body text-dark">
            <blockquote class="blockquote mb-0">
                <p class="text-justify">{{ blog[2] }}</p>
                <footer class="blockquote-footer">Dalam kategori <cite title="Source Title">{{ blog[3] }}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}